<!DOCTYPE html>
<head>
    <title>HomeBooru client</title>

    <link rel="stylesheet" href="/static/basic.css">
</head>
<body>
    <header>  
        <h1 class="title">HomeBooru</h1>
    
        <nav>
            <menu>
                <a href="/" class="nav-link">Home</a>
                <a href="/wiki" class="nav-link">Wiki</a>
                <a href="/import" class="nav-link">Import</a>
                <a href="/settings" class="nav-link">Settings</a>
                <li class="nav-item"> |  </li>
                <li class="nav-item"> <a href="?edit=1" class="nav-link">Edit</a> </li>  
            </menu>
        </nav>
    </header>
    <div class="flex">
        <aside class="sidebar">
            <section id="search-box">
                <h2 style="margin: 0%;">Search</h2>

                <form id="search-box-form" action="/posts" accept-charset="UTF-8" method="get">
                  <input type="text" name="tags" data-shortcut="q" data-autocomplete="tag-query" value="{{search}}" >
                  <button id="search-box-submit" type="submit"><svg viewBox="0 0 512 512"><use fill="currentColor" href="static/icons-c18cad4efd0bb958da81.svg#magnifying-glass"></use></svg></button>
                </form>
            </section>
            <section id="tag-list">
                <h2>Tags</h2>
                <ul class="tags">
                    {% for tag in tags %}
                        {{ tag | safe }}
                    {% endfor %}
                </ul>
            </section>
        </aside>
        <div style="width: 100%;">
            {% if edit %}
            <form action="/bulk_edit" method="get">
                <label for="fake submit">Submit</label>
                <input id="fake submit" type="button" onclick="bulk_edit_finish(event)">
                <input name="data" hidden="True" id="bulk-edit data">
                <input type="submit" id="bulk-edit submit" hidden="True">
            </form>
            {% endif %}
            <section class="post_grid">
                {% for post in posts %}
                    <article id="{{ post['name'] }}" class="post flex" tags="{{ post['tags'] }}">
                        {% if edit %}
                            <div>
                                <label for="delete {{ post['name'] }} box">delete {{ post['name'] }}?</label>
                                <input type="checkbox" id="delete {{ post['name'] }} box" name="delete_box">
                            </div>
                        {% endif %}
                        <a name="post-link" class="post-preview" href="/posts/{{ post['name'] }}">
                            <picture>
                                <source srcset="{{ post['img_src'] }}">
                                <img class="resized-media {{ post['media_class'] }} preview" src="{{ post['img_src'] }}">
                            </picture>
                        </a>
                    </article>
                {% endfor %}
            </section>
        </div>
    </div>
    <div class="pageinator">
        {% for page in pageinator %}
            {{ page | safe }}
        {% endfor %}
    </div>
</body>

<script src="/static/basic-scripts.js"></script>
<script>
    const post_array = document.getElementsByName("post-link");
    const parentlink = add_parentlink(post_array);
    function bulk_edit_finish(ev){
        const data_conainter = document.getElementById("bulk-edit data");
        const all_deletes = document.getElementsByName("delete_box");
        var checked_deletes = [];
        all_deletes.forEach(element => {
            if (element.checked == true){
                checked_deletes.push(element.id.split(" ")[1]);
            };
        });
        data_conainter.value = String(data_conainter.value) + "delete:[" + String(checked_deletes.join(', ')) + ']'
        console.log(data_conainter.value)

        data_conainter.value = String(data_conainter.value) + "&parent_href:" + parentlink
        document.getElementById("bulk-edit submit").click()
    };

</script>
